body {
    font-family: Helvetica, Sans-Serif;
    background-color: whitesmoke;
    font-size: 20px;
    padding: 0;
    margin: 0;
    --bodyPadding: 10px 7vw;
    --accentColor: #8fe5d0;
    --backGroundAccentColor: #e6e6e6;
    --darkAccentColor: rgba(25, 193, 155, 255);
    --darkFontColor: rgba(0, 0, 0, .7);
    --titleFont:4rem;
    --smallFont: 1rem;
    --smallWeight:lighter;
    


}

.row {
    display: flex;
    flex-flow: row wrap;
}

.column {
    display: flex;
    flex-flow: column wrap;
}


.adaptiveRow {
    display: flex;
    flex-flow: row wrap;
}

.adaptiveColumn {
    display: flex;
    flex-flow: column wrap;
}

.pageBody {
    margin-top: 100px;
}


.signupButton {
    font-weight: bold;
    background: var(--accentColor);
    width: 7rem;
    height: 3rem;
    border: none;
    border-radius: 3rem;
    outline: none;
    transition: all ease .5s;

}

.bodySignUpButton {
    margin-top: 9vh;
    box-shadow: -1px 1px 10px -3px #ccc;

}

.signupButton:hover {
    background-color: var(--darkAccentColor);
    box-shadow: -1px 1px 8px -3px #ccc;

}

.introScreen {
    box-sizing: border-box;
    width: 100%;
    height: 70vh;
    align-items: center;
    justify-content: space-between;
    padding: var(--bodyPadding);
    overflow-y: hidden;

}

.getStarted {
    /* height: 100%; */
    position: relative;
    width: 40vw;
    align-items: flex-start;
    justify-content: center;
/* border: solid 1px; */


}

.introHeading {
    margin: 0px 0px;

}

.smallfont {
    font-size: var(--smallFont);
    font-weight: var(--smallWeight);
}

.introImageSection {
    position: relative;
    align-items: center;
    justify-content: center;
/* border: solid 1px; */
    width: 40vw;
    overflow:hidden;
    transition: ease .4s;

    /* height: 500px; */
}

.introImage {
    width: 40vw;

}
.introImageSection:hover{
    transform: rotate(20deg);
    transform: rotate(-20deg);
    /* transform: rotate(0deg); */


}

.searchSection {
    box-sizing: border-box;
    background: var(--backGroundAccentColor);
    width: 100vw;
    height: 21vh;
    padding: var(--bodyPadding);
    align-items: center;
    justify-content: center;
}

.searchButton {
    border: solid 1px;
    background: var(--accentColor);
    font-weight: bold;
    margin: 20px 10px;
    padding: 2px 10px;
    transition: ease .4s;

}
.searchButton:hover{
    background-color: var(--darkAccentColor);

}

.emailSearch {
    box-sizing: border-box;
    width: 60vw;
    margin: 40px 10px;
    padding: 2px 10px;

}

.searchButton,
.emailSearch {
    height: 3rem;
    outline: none;
    border: none;
    border-radius: .5rem;



}

.about {
    box-sizing: border-box;
    margin: 4rem 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: var(--bodyPadding);
}

.aboutHeader {
    text-align: center;
}

.aboutDescription {
    /* background: red; */
    text-align: left;

}

.aboutText {
    box-sizing: border-box;
    width: 100%;
    text-align: center;

}

.cardsWrapper {
    margin: 2rem 0;
    /* height: fit-content; */
    width: 100%;
    align-items: center;
    justify-content: space-around;

}

.card {
    align-items: flex-start;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 1.5rem;
    margin: 5px;
    width: 25vw;
    height: 25vw;
    background: var(--backGroundAccentColor);
    border-radius: .6rem;
}

.cardHeading {
    font-size: 2rem;
    font-weight: bold;
    color: var(--darkAccentColor);
}

.cardSubHeading {
    font-size: 1rem;
    font-weight: bold;

}


.footer {
    padding: var(--bodyPadding);
    height: 15vh;
    background: var(--backGroundAccentColor);
    justify-content: space-between;
    align-items: center;
}

.footerNote {
    margin: 0px 0px 20px 0px;
    width: 40vw;
}
.email{
    font-size: .8rem;
    font-weight: normal;
}
.footerNoteHeading{
    font-weight: bold;
margin-bottom: 1rem;
}
.footerNoteDescription {
    font-size: .8rem;

    font-weight: lighter;
}
.rightfooterNote{
    text-align: right;
}

@media screen and (max-Width:835px) {
    body{
        --bodyPadding:10px 20px;
        --smallFont:.9rem
    }
    .adaptiveRow {
        /* box-shad; */
        display: flex;
        flex-flow: column ;
    }
.card{
    width: 80vw;
    height: 60vw;
    margin-bottom: 20px;
    min-width: 300px;
    max-width: 500px;
    max-height: 400px;
}
.cardHeading{
    font-size: 2.5rem;

}
.cardSubHeading{
    font-size: 1.4rem;
}
    .adaptiveColumn {
        display: flex;
        flex-flow: row wrap;
    }
    .bodySignUpButton {
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .searchButton {
        width: 40vw;
        margin: 5px 10px 20px 10px;
        padding: 2px 10px;
    }
    .introScreen{
        height: 70vh;
    }
    .introImage{
        width: 60vw;
    }

    .emailSearch {
        margin: 20px 10px 5px 10px;
        padding: 2px 10px;
    }

    .getStarted {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .pageBody{
        margin-top: 8vh;
    }
    .introScreen{
        height: 70vh;
    }
    .introImageSection {
        width: 100%;
        height: 100vw;
    }

    .introHeading {
        text-align: center;
    }

    .introDescription {
        text-align: center;
    }
    .searchButton,.emailSearch{
        min-width: 100%;
    }
    .footerNote,.contact{
        width: 80vw;
    }
    .rightfooterNote{
        text-align: left;
    }
}
@media screen and (max-Width:1080px) {
    body{
    --smallFont: .7rem;

        /* --bodyPadding:25px 10px; */
    }
}