body{
    font-family: Helvetica, Sans-Serif;
    background-color: whitesmoke;
    font-size: 20px;
    padding: 0;
    margin: 0;
    --bodyPadding:2px 40px;
    --accentColor:#8fe5d0;
}
.row{
    display: flex;
    flex-flow: row wrap;
}
.column{
    display: flex;
    flex-flow: column wrap;
}
.pageBody{
    margin-top: 100px;
    border:solid 1px;
}


.signupButton{

    background: var(--accentColor);
    width: 7rem;
    height: 3rem;
    border: none;
    border-radius: 3rem;
    outline: none;
    transition: all ease .5s;
    
}
.signupButton:hover{
    opacity: 0.9;
}
.introScreen{
    box-sizing: border-box;
    width: 100%;
    height: 30rem;
    justify-content: space-between;
    padding: var(--bodyPadding);
    overflow-y: hidden;
    border: solid cyan 2px;

}
.getStarted{
    /* height: 100%; */
    width: 50vw;
    align-items: flex-start;
    justify-content: center;
    border: solid 2px burlywood;

}
.introImageSection{
    border: solid salmon 2px;
    align-items: flex-end;
    /* background-image: url(./../../illustration.png); */

    width: 40vw;
    height: 500px;
}
.introImage{
    width: 40vw;
}
/* NavBar */

