.nav {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: var(--bodyPadding);
    /* border: solid 1px blue; */
    background: whitesmoke;
    height: 9vh;
    z-index: 100;

}

.leftNav {
    width: 60%;
    justify-content: flex-start;
    align-items: center;
}

.rightNav {
    width: 40%;
    justify-content: flex-end;
    align-items: center;
}

.basicNavItem {
    font-size: .9rem;
    margin-right: 50px;
    text-decoration: none;
    color: var(--darkFontColor);
}

.basicNavItem:hover {
    text-decoration: underline;
}

#title {
    font-size: 1.5rem;
    font-weight: bold;
}

@media screen and (max-width:835px) {
    .nav {
        padding: var(--bodyPadding);
    height: 7vh;
    }

    .leftNav {
        width: 40%;
    }

    .rightNav {
        width: 60%;
    }

    .basicNavItem {
        display: none;
        margin-right: 0;


    }
.navBarSignUpButton{
    background: transparent ;
    color: var(--darkAccentColor);
}
.navBarSignUpButton:hover{
    text-decoration: underline;
    box-shadow: none;
}
    #title,
    #login {
        display: inline;

    }

    #title {
        font-size: 1.2rem;
    }
}